.home section{
  div.articles {
    margin: 0rem;
    padding: 0rem;
    & div.article {
      margin: 0rem 0rem 1rem;
      padding: 0rem;
      list-style: none;
      border-bottom: 1px solid #EEF2F8;
      background-color: white;
      -webkit-box-shadow:  0px 1px 10px #EEF2F8;
      -moz-box-shadow:  0px 1px 10px #EEF2F8;
      box-shadow: 0px 1px 10px #EEF2F8;
    }
  }
}